*{
    margin: 0%;
    padding: 0%;
    font-family: poppins;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(221, 245, 220);
    font-family: 'poppins', sans-serif;
}

.logo{
    color: rgba(32, 59, 37, 0.466);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 110%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
color: rgb(10, 10, 10);
text-decoration: none;
letter-spacing: 3px;
font-weight: bold;
font-size: 14px;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: poppins;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(32, 59, 37, 0.466);
}

.blogheading{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.blog-heading span{
color: rgba(32, 59, 37, 0.466);
text-align: center;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: rgba(32, 59, 37, 0.466);
    font-weight: 600;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 350px;
    background-color: white;
    border: white;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: rgba(32, 59, 37, 0.466);
    font-size: 0.9rem;
}

.blog-text .blog-title:hover{
    color: black;
    transition: all ease;
}

.blog-text p{

}

.footer {
    padding: 40px 0;
    background-color: white;
}

.headerblogcontent{
    font-weight: bold;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(41, 40, 40);
}
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: rgba(32, 59, 37, 0.466);
}

.footer .social a{
    font-size: 25px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:gover {
    opacity: 0.8;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}

.footer ul li {
display: inline-block;
padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 2;
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;

}

